<div class="container">
	<h2> Welcome <%= @user.name %>! </h2>
	<h3> These are all the users: </h3>
	<% @all_user_names.each do |name| %>
		<p><%= name %></p>
	<%end%>
  <%# TODO: 
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>
</div>
